@using MVC_ONLINE_SATIS.Models.Sinifler;
@model List<Mehsullar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .ImgProduct{
        width:2cm;
        height:auto;
            transition:0.5s;
    }
        .ImgProduct:hover {
            transition: 0.5s;
            transform: scale(1.7)
        }
</style>
<div class="container-fluid">
    <br />
    <div style="display:flex">
        <h2>Məhsullar</h2><a href="/Mehsullar/MehsulElaveEt/"><img src="~/ICONS/add_40px.png" /></a>
    </div>
    <hr />
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col"><h6>ID</h6></th>
                <th scope="col"><h6>Məhsul Ad</h6></th>
                <th scope="col"><h6>Marka</h6></th>
                <th scope="col"><h6>Stok</h6></th>
                <th scope="col"><h6>Alış qiyməti</h6></th>
                <th scope="col"><h6>Satış qiyməti</h6></th>
                <th scope="col"><h6>Vəziyyət</h6></th>
                <th scope="col"><h6>Məhsul foto</h6></th>
                <th scope="col"><h6>Kateqoriya</h6></th>
                <th scope="col"><h6>Sil</h6></th>
                <th scope="col"><h6>Yenilə</h6></th>
                <th scope="col"><h6>Sat</h6></th>
            </tr>
        </thead>
        @ViewBag.limit
        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <th scope="row">@x.MehsulID</th>
                <td>@x.MehsulAd</td>
                <td>@x.Marka</td>
                @if (x.Stok == 0)
                {
                    <td class=" alert-danger"><stron style="color:red">Məhsul bitib!!!</stron></td>
                }
                else
                {
                    <td>@x.Stok</td>
                }

                <td>@x.AlisQiymet</td>
                <td>@x.SatisQiymet</td>
                <td>@x.Veziyyet</td>
                <td><img class="ImgProduct" src="@x.MehsulFoto" /></td>
                <td>@x.Kateqoriya.KateqoriyaAd</td>
                <td><a href="/Mehsullar/MehsulSil/@x.MehsulID"><img src="~/ICONS/Deletel_50px.png" /></a></td>
                <td><a href="/Mehsullar/MehsulGetir/@x.MehsulID"><img src="~/ICONS/update_50px.png" /></a></td>

                @if (x.Stok == 0)
                {

                    <td><a style="display:none" href="/Mehsullar/Sat/@x.MehsulID"><img src="~/ICONS/money_bag_48px.png" /></a></td>
                }
                else
                {
                    <td><a style="display:block" href="/Mehsullar/Sat/@x.MehsulID"><img src="~/ICONS/money_bag_48px.png" /></a></td>
                }





            </tr>
            }

        </tbody>
    </table>
</div>


