@model MVC_ONLINE_SATIS.Models.Sinifler.Isciler
@{
    ViewBag.Title = "IsciYenile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <br />
    <h2>İşçi yenilə</h2>
    <hr />
    @using (Html.BeginForm("IsiciYenileButton", "Isciler", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.IsciID)
        <h6>İşçi ad</h6>
        @Html.TextBoxFor(x => x.IsciAd, new { @class = "form-control", Placeholder = "İşçi ad" })
        <br />
        <h6>İşçi soyad</h6>
        @Html.TextBoxFor(x => x.IsciSoyad, new { @class = "form-control", Placeholder = "İşçi soyad" })
        <br />
        <h6>İşçi foto</h6>
        @Html.TextBoxFor(x => x.IsciFoto, new { @class = "form-control", Placeholder = "İşçi soyad" })
        <br />
        <h6>İşçi şöbə</h6>
        @Html.DropDownListFor(x => x.SobeID, (List<SelectListItem>)ViewBag.sobeler, "Şöbə seçin", new { @class = "form-control" })

        <button class="btn">
            <img src="~/ICONS/update_50px.png" />
        </button>
    }
</div>


